@inject IBlogService blogService
@inject NavigationManager NavMan



<div class="main-section">
    <div class="section-title">Featured Blogs</div>

    @if (isLoading)
    {
        <LoadingComponent></LoadingComponent>
    }
    else
    {
        @*         <div class="business-container row justify-content-center m-0"> *@

        <div class="row d-flex m-5 justify-content-center">
            @foreach (var blog in featuredBlogs)
            {




                <div class="col-xl-4 mb-5">
                    <div class="card h-100 shadow" style="transform:none!important;">
                        <img src="@blog.PhotoURL" class="card-img-top img-fluid"
                             alt="Skyscrapers" style="height: 60%" />
                        <div class="card-body">
                            <h3>@blog.PublishDate?.ToString("MMMM dd, yyyy")</h3>
                            <h2 class="card-title">@blog.Title</h2>
                            <h3 class="card-text">
                                @blog.AuthorName
                            </h3>
                        </div>
                        <div class="card-footer button">
                            <div class="btn mb-5" @onclick="() => NavigateToBlog(blog.Id)"><h5 data-text="Read Now">Read Now</h5></div>
                        </div>
                    </div>
                </div>
            }

        </div>

        <div class="sm-view col-12">
            <div class="hl"></div>
        </div>


        <div class="row d-flex m-5">

            @foreach (var blog in restBlogs)
            {

                <div class="col-xl-3 mb-5">
                    <div class="card h-100 shadow">
                        <img src="@blog.PhotoURL" class="card-img-top img-fluid"
                             alt="Skyscrapers" style="height: 60%" />
                        <div class="card-body">
                            <h4>@blog.PublishDate?.ToString("MMMM dd, yyyy")</h4>
                            <h3 class="card-title">@blog.Title</h3>
                            <h4 class="card-text">
                                @blog.AuthorName
                            </h4>
                        </div>
                        <div class="card-footer button">
                            <small>Read Now</small>
                        </div>
                    </div>
                </div>

            }


        </div>

    }
</div>


@code {
    public List<BlogDTO> featuredBlogs { get; set; } = new();
    public List<BlogDTO> restBlogs { get; set; } = new();
    public bool isLoading { get; set; } = true;
    public bool filtering { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        restBlogs = (await blogService.GetAllBlogs()).Where(x => x.Title != "[Removed]").ToList();
        restBlogs = restBlogs.OrderByDescending(x => x.PublishDate).ToList();

        featuredBlogs = restBlogs.GetRange(0, 2);
        restBlogs.RemoveRange(0, 2);

        isLoading = false;
    }

    public void NavigateToBlog(int blogId)
    {
        NavMan.NavigateTo($"/blog/{blogId}");
    }

}


