@using MudBlazor
<PageTitle>Index</PageTitle>

<div class="content">
    <div class="title">
        My Sanpete
    </div>
    <div class="undertitle">
        &nbsp&nbsp&nbspConnecting Sanpete<br />entrepreneurs to people.
    </div>
</div>
<MudCarousel Class="mud-width-full" Style="height:500px; width:100%;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Color="@Color.Primary">
        <div class="image-container">
            <img src="Images/Sanpete1.jpg" style="width: 100%; height: 100%;" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Color="@Color.Primary">
        <div class="image-container">
            <img src="Images/Sanpete2.jpg" style="width: 100%; height: 100%;" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Color="@Color.Primary">
        <div class="image-container">
            <img src="Images/Sanpete3.jpg" style="width: 100%; height: 100%;" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Color="@Color.Primary">
        <div class="image-container">
            <img src="Images/Sanpete4.jpg" style="width: 100%; height: 100%;" />
        </div>
    </MudCarouselItem>
</MudCarousel>


@code {
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}

<style>


    .content {
        position: absolute;
        top:35%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        padding: 20px;
        border-radius: 10px;
        color: white;
    }

    .image-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    @@media (max-width: 639px) {
        .content{
            width: 350px;
            margin-left:25px;
        }
    }
</style>
