@page "/edit-business/{Success}"
@page "/edit-business"

@using RazorClassLibrary.DTOs
@using RazorClassLibrary.Data
@using RazorClassLibrary.Requests
@using RazorClassLibrary.Services

@inject IBusinessService businessService
@inject NavigationManager navManager;

@attribute [Authorize(Roles = "Admin")]

@if (allBusinesses is not null)
{
    <div class="form-container" onsubmit="return false" style="margin-bottom: 20px;">

        <h3>Admin Edit Business</h3>
        <form class="mt-5 ">
            <div class="form-group mt-5">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#voucherPopup">Select Business</button>
            </div>

            <div class="modal fade" id="voucherPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Voucher</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Business Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var b in allBusinesses!)
                                    {
                                        <tr @onclick="() => AddBusiness(b.Id)" data-dismiss="modal">
                                            <td>@b.BusinessName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            @if (selectedBusiness is not null)
            {
                <div class="form-group mt-5">
                    <label for="Name">Business Name</label>
                    <input id="title" class="form-control" @bind="@selectedBusiness.BusinessName" required />
                </div>
                <div class="form-group mt-5">
                    <label for="Address">Address</label>
                    <input id="title" class="form-control" @bind="@selectedBusiness.Address" required />
                </div>
                <div class="form-group mt-5">
                    <label for="Phone Number">Phone Number (Format like ***-***-****)</label>
                    <input id="phone" class="form-control" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" @bind="@selectedBusiness.PhoneNumber" />
                </div>
                <div class="form-group mt-5">
                    <label for="Website URL">Website URL</label>
                    <input id="website" class="form-control" @bind="@selectedBusiness.WebsiteURL" />
                </div>
                <div class="form-group mt-5">
                    <label for="Email">Email</label>
                    <input id="email" class="form-control" type="email" @bind="@selectedBusiness.Email" required />
                </div>
                <div class="form-group mt-5">
                    <label for="Description">Description</label>
                    <input id="title" class="form-control" @bind="@selectedBusiness.Description" />
                </div>
                <div class="form-group">
                    <label for="photo">Business Logo</label>
                    <InputFile OnChange="SaveFile"></InputFile>
                </div>



                @if (errorMessage == "")
                {
                    <div class="form-group mt-5">
                        <button type="submit" style="height: 50px;" class="btn btn-primary" @onclick="() => UpdateBusiness(selectedBusiness)">Update</button>
                        <button type="button" style="height: 50px;" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirm">Delete</button>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        <p>Please fix the error to submit the form</p>
                        <p>@errorMessage</p>
                        <div class="form-group mt-5">
                            <button type="submit" style="height: 50px;" class="btn btn-primary" @onclick="() => UpdateBusiness(selectedBusiness)">Update</button>
                            <button type="button" style="height: 50px;" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirm">Delete</button>
                        </div>
                    </div>
                }

                <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirm" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Deletion Confirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete @selectedBusiness.BusinessName? You won't be able to get it back!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger" @onclick="() => DeleteBusiness(selectedBusiness)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <p>Select a business to be able to edit it</p>
            }
        </form>
        @if (Success == "true")
        {
            <div class="alert-success alert alert-dismissible fade show" role="alert" @onclick="ChangeSuccess">
                <p>You successfully updated the business!</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    </div>

}
else
{
    <div>
        <p>No businesses to edit, add more businesses to edit them here</p>
    </div>
}

@code {
    [Parameter]
    public string? Success { get; set; }
    public byte[]? ImageBytes { get; set; }
    public string? errorMessage = "";

    public List<BusinessDTO>? allBusinesses { get; set; }
    public BusinessDTO? selectedBusiness { get; set; }
    public UpdateBusinessRequest updateBusiness = new();

    protected override async Task OnInitializedAsync()
    {
        allBusinesses = await businessService.GetAllBusinesses();
    }

    public async void AddBusiness(int selectedBusinessID)
    {
        try
        {
            selectedBusiness = await businessService.GetBusiness(selectedBusinessID);
            if (selectedBusiness is null)
            {
                throw new Exception("business not found");
            }
            StateHasChanged();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    public async Task SaveFile(InputFileChangeEventArgs e)
    {
        IBrowserFile file = e.GetMultipleFiles(1).Single();

        using (var ms = new MemoryStream())
        {
            await file.OpenReadStream().CopyToAsync(ms);
            ImageBytes = ms.ToArray();
        }
    }

    public async Task UpdateBusiness(BusinessDTO business)
    {
        if (business is null)
        {
            throw new Exception("Business was not found");
        }
        if (ImageBytes is null)
        {
            updateBusiness = new UpdateBusinessRequest()
                {
                    Id = business.Id,
                    BusinessName = business.BusinessName,
                    Address = business.Address,
                    PhoneNumber = business.PhoneNumber,
                    WebsiteURL = business.WebsiteURL,
                    Email = business.Email,
                    Description = business.Description,
                };
        }
        else
        {
            updateBusiness = new UpdateBusinessRequest()
                {
                    Id = business.Id,
                    BusinessName = business.BusinessName,
                    Address = business.Address,
                    PhoneNumber = business.PhoneNumber,
                    WebsiteURL = business.WebsiteURL,
                    Email = business.Email,
                    Description = business.Description,
                    Logo = ImageBytes
                };
        }


        try
        {
            if (updateBusiness is null)
            {
                throw new Exception("The business was null");
            }
            if (updateBusiness.BusinessName is null || updateBusiness.BusinessName.Trim() == "")
            {
                throw new Exception("The bundle needs to have a name");
            }
            if (updateBusiness.Address is null || updateBusiness.Address.Trim() == "")
            {
                throw new Exception("The bundle needs to have an Address");
            }
            if (updateBusiness.Email is null || updateBusiness.Email.Trim() == "")
            {
                throw new Exception("The bundle needs to have an Email");
            }
            if (updateBusiness.PhoneNumber is null || updateBusiness.PhoneNumber.Trim() == "")
            {
                throw new Exception("The bundle needs to have an Phone Number");
            }

            var newBusiness = await businessService.UpdateBusiness(updateBusiness);

            if (newBusiness is null)
            {
                throw new Exception("The new business was null");
            }
            errorMessage = "";
            Success = "true";
            ReloadPage();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    public async void DeleteBusiness(BusinessDTO business)
    {
        try
        {
            if (business is null)
            {
                throw new Exception("Selected business was not found");
            }

            var result = await businessService.DeleteBusiness(business.Id);

            if (result == false)
            {
                throw new Exception("Business was unable to be deleted");
            }

            errorMessage = "";
            Success = "true";
            ReloadPage();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    public void ReloadPage()
    {
        navManager.NavigateTo($"/edit-business/{Success}", true);
    }

    public void ChangeSuccess()
    {
        Success = "false";
    }

}
