@layout MySanpeteWeb.Components.Layout.AlternateLayout
@page "/vouchers"

@using RazorClassLibrary.DTOs
@using RazorClassLibrary.Data
@using RazorClassLibrary.Services
@using MySanpeteWeb.Data

@inject IVoucherService voucherService
@inject NavigationManager NavMan
@inject IBusinessService businessService
@inject IBundleService bundleService

<div class="main-section">
    <div class="content">
        <div class="title">
            Vouchers for all occasions.
        </div>
    </div>
    <img class="full-screen-image" src="Images/social_gathering.jpg" alt="Image">
    <div class="vouchers-content" style="max-width: 100vw; margin-left: auto; margin-right: auto; background-color:#fcfcf8; justify-content: center;">
        <div class="d-flex flex-row justify-content-center flex-wrap" style="max-width: 100vw;">
            @if (!isLoading)
            {
                @if (allBusinesses is not null)
                {
                    @foreach (var b in allBusinesses)
                    {
                        @if (b.LogoURL is not null && b.BusinessName is not null)
                        {
                            <div>
                                <a @onclick="() => toggleFiltering(b.BusinessName)">
                                    <img class="@(b.BusinessName == filteredBusiness ? "filtered" : "non-filtered")"
                                         src="@b.LogoURL" alt="@b.BusinessName Logo" title="@b.BusinessName" />
                                </a>
                            </div>
                        }
                        else
                        {
                            <div>
                                <a href="#">
                                    <div class="business-logo"
                                         style="height: 130px; width: 130px; border-radius: 65px; object-fit: cover; object-position: center; margin: 20px; color: white; background-color: dimgray;">
                                        <p class="text-center align-content-center">@b.BusinessName</p>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                }
            }
            else
            {
                <RazorClassLibrary.Pages.LoadingComponent></RazorClassLibrary.Pages.LoadingComponent>
            }
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="input-group mb-3 pt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-light rounded-left">
                                <img src="Images/MagnifyingGlass.png" alt="Search" style="width: 20px; height: 20px;" />
                            </span>
                        </div>
                        <input type="text" class="form-control rounded-right" placeholder="Search All Vouchers (e.g. Wendys, Free, WAH)" @onchange="@FilterVouchers" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container row mt-5 pb-8" style="max-width: 1500px; margin-left: auto; margin-right: auto">
            @if (!isLoading)
            {
                @if (allVouchers.Count > 0)
                {
                    @if (!filtering)
                    {
                        @foreach (var voucher in searchedVouchers)
                        {

                            <div class="col-md-6 p-3">
                                <div class="card m-2 rounded-3 shadow">
                                    <div class="d-flex flex-row">
                                        @if (FeatureFlag.IsAvailable)
                                        {
                                            
                                            <div class="" style="padding: 0px;">

                                                <img style="height: 130px; width: 130px; border-radius: 65px; object-fit: cover; margin: 20px;"
                                                     src="@voucher.BusinessLogoURL" />
                                            </div>
                                            <div class="col-md card-body">
                                                <h2 class=" card-title" style="max-height: 42px;">
                                                    @voucher.PromoName
                                                    @if (voucher.EndDate is not null)
                                                    {
                                                        <span class="card-text">Good till @voucher.EndDate.Value.ToString("M/dd/yy")</span>
                                                    }

                                                </h2>
                                                <!-- Button trigger modal -->
                                                <div class="button mt-15" @onclick="() => GoToDetailsPage(voucher.Id)">
                                                    <div class="button-wrapper">
                                                        <div class="text">$@voucher.RetailPrice</div>
                                                        <span class="icon">
                                                            View
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {

                                            <div class="blogo d-flex align-items-center col-md img-square-wrapper rounded" style="padding: 0px;">

                                                <img class="business-logo"
                                                     style="height: 130px; width: 130px; border-radius: 65px; object-fit: cover; object-position: center; margin: 20px;"
                                                     src="@voucher.BusinessLogoURL" />
                                            </div>
                                            <div class="col-md card-body">
                                                <h2 class="d-grid card-title" style="max-height: 42px;">
                                                    @voucher.PromoName
                                                    @if (voucher.EndDate is not null)
                                                    {
                                                        <span class="card-text">Good through @voucher.EndDate.Value.ToString("M/dd/yy")</span>
                                                    }

                                                </h2>
                                                <!-- Button trigger modal -->
                                                <div class="button mt-15" @onclick="() => GoToDetailsPage(voucher.Id)">
                                                    <div class="button-wrapper">
                                                        <div class="text">$@voucher.RetailPrice</div>
                                                        <span class="icon">
                                                            View
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        @foreach (var voucher in searchedVouchers.Where(x => x.BusinessName == filteredBusiness).ToList())
                        {

                            <div class="col-md-6 p-3">
                                <div class="card m-2 rounded-3 shadow">
                                    <div class="d-flex flex-row">
                                        <div class="blogo d-flex align-items-center col-md img-square-wrapper rounded" style="padding: 0px;">
                                            <img class="business-logo"
                                                 style="height: 130px; width: 130px; border-radius: 65px; object-fit: cover; object-position: center; margin: 20px;"
                                                 src="@voucher.BusinessLogoURL" />
                                        </div>
                                        <div class="col-md card-body">
                                            <h2 class="d-grid card-title" style="max-height: 42px;">
                                                @voucher.PromoName
                                                @if (voucher.EndDate is not null)
                                                {
                                                    <span class="card-text">Good through @voucher.EndDate.Value.ToString("M/dd/yy")</span>
                                                }
                                            </h2>
                                            <!-- Button trigger modal -->
                                            <div class="button mt-15" @onclick="() => GoToDetailsPage(voucher.Id)">
                                                <div class="button-wrapper">
                                                    <div class="text">$@voucher.RetailPrice</div>
                                                    <span class="icon">
                                                        View
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        }
                    }
                }
                else
                {
                    <div class="alert alert-info">
                        <p>Sorry, there are no vouchers currently. </p>
                    </div>
                }
            }
        </div>
        <div class="card-container row mt-5" style="max-width: 1200px; margin-left: auto; margin-right: auto">
            @if (allBundles is not null)
            {
                @foreach (var bundle in allBundles)
                {
                    <div class="col-md-6 p-3">
                        <div class="card m-2 rounded-3 shadow">
                            <div class="d-flex flex-row">
                                <div class="col-md img-square-wrapper rounded" style="padding: 0px;">
                                    <img class="business-logo"
                                         style="height: 130px; width: 130px; border-radius: 65px; object-fit: cover; object-position: center; margin: 20px;"
                                         src="Images/My_Sanpete.png" />
                                </div>
                                <div class="col-md card-body">
                                    <h2 class="card-title">@bundle.Name</h2>
                                    @if (bundle.EndDate is not null)
                                    {
                                        <p class="card-text">Good through @bundle.EndDate</p>
                                    }
                                    <!-- Button trigger modal -->
                                    <div class="button" @onclick="() => GoToBundlesPage(bundle.Id)">
                                        <div class="button-wrapper">
                                            <div class="button-wrapper">
                                                <div class="text">$@bundle.FinalPrice</div>
                                                <span class="icon">
                                                    View
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="alert alert-info">
                    <p>Sorry, there are no vouchers currently. </p>
                </div>

            }

        </div>
    </div>
</div>

@code {
    public List<VoucherDTO> allVouchers { get; set; } = new();
    public List<VoucherDTO> searchedVouchers { get; set; } = new();
    public List<BundleDTO> allBundles { get; set; } = new();

    public string filteredBusiness { get; set; } = "none";
    public List<BusinessDTO> allBusinesses { get; set; } = new();
    public bool isLoading { get; set; } = true;
    public bool filtering { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        allVouchers = await voucherService.GetAllVouchers();
        searchedVouchers = allVouchers = allVouchers.Where(x => x.EndDate >= DateTime.UtcNow).ToList();
        allBusinesses = await businessService.GetAllBusinesses();
        allBundles = await bundleService.GetAllBundles();
        isLoading = false;
    }

    public void GoToDetailsPage(int id)
    {
        NavMan.NavigateTo($"/view-voucher/{id}", true);
    }

    public void GoToBundlesPage(int id)
    {
        NavMan.NavigateTo($"/view-bundle/{id}", true);
    }

    public void toggleFiltering(string businessName)
    {
        if (filteredBusiness == businessName)
        {
            filtering = !filtering;
            filteredBusiness = "none";
        }
        else
        {
            filtering = true;
            filteredBusiness = businessName;
        }
    }

    private void FilterVouchers(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        string searchString = ((string)args.Value!).ToLower();

        searchedVouchers = allVouchers.Where(x =>
        {
            return x.PromoName!.ToLower().Contains(searchString)
            || x.BusinessName!.ToLower().Contains(searchString)
            || x.PromoDescription!.ToLower().Contains(searchString)
            ;
        }).ToList();
    }
}
